/* место для вашего кода */
body {
    background-color: #fff;
}

.content-block {
    box-sizing: border-box;
    width: 100%;
    min-height: 180px;
    padding: 0 50px;
}

.logo_black {
    color: #000;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header_logo {
    display: block;
    width: 148px;
    justify-self: center;
}

.header_logo-image {
    width: 100%;
}

.header_links-list {
    display: flex;
    gap: 26px;
}

.header_links-list-item {
    list-style: circle;
}

.header_links-list-item_no-bullit {
    list-style: none;
}
.header_link {
    font-size: 18px;
    font-weight: normal;
}

.header_link_active {
    text-decoration: none;
}

.header_address {
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.address {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}

.address p {
    font-style: normal;
}

a {
    font-style: normal;
}

.address a {
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0 0 0 0.6);
    pointer-events: none;
    z-index: 1;
}

.cover_title {
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    line-height: 115%;
    letter-spacing: 31px;
    text-transform: uppercase;
    padding: 165px 0 106px 0;

}

.accent_span {
    display: block;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
    padding-right: 0;
    padding-left: 612px;
}

.description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.description p {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #fff;
}

.bet-button {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 32px 11px 31px;
    background-color: transparent;
    border: 1px solid #fff;
}

.lots {
    box-sizing: border-box;
    width: 1052px;
    min-height: 723px;
    padding: 180px 24px 120px 24px;
}

.lots_heading {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    padding: 0 891px 27px 40px;
}

.lots_card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 25px;
}

.lots_card-list-item {
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 596px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.card_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.1;
    color: #fff;
    padding: 48px 40px 0 40px;
    text-align: left;
    text-transform: uppercase;
}

.card_text {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.1;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    text-align: left;
}

a .card-link p {
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    color: #fff;
}

.more {
    font-size: 20px;
    font-family: normal;
    color: #000;
    display: block;
    padding: 30px 0 0 40px;
}

.about {
    box-sizing: border-box;
    width: 1052px;
    height: 595px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 72px;
}

.about_logo {
    padding: 35px 0 320px 47px;
}

.about_circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    display: grid;
    place-items: center;
}

.about_logo-image {
    max-width: 148px;
    max-height: 114px;

}

.about_column {
    padding: 133px 0 13px 0;
}

.about_title {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    padding: 3px 0 102px 0;
}

.about_text {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.footer {
    box-sizing: border-box;
    width: 1100px;
    height: 180px;
    padding: 180px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_address {
    display: flex;
    flex-direction: column;
    width: 265px;
    padding-top: 0;
    padding-left: 50px;
    padding-bottom: 82px;
}
.footer_text {
    width: 260px;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 164px;
    font-size: 18px;
    font-weight: normal;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_menu-list-item {
    list-style: none;
}

.footer_social-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;

}

.footer_social-list-item {
    list-style: none;
}

.footer_social-icon {
    width: 48px;
    height: 48px;
}












