/* место для вашего кода */
.content-block {
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px;
}

.logo_black {
    color: #000;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 88px 50px 92px 50px;
}

.header_logo {
    display: block;
    width: 142px;
    justify-self: center;
}

.header_logo-image {
    width: 100%;
}

.header_links-list {
    display: flex;
    gap: 32px;
}

.header_links-list-item {
    list-style: circle;
}

.header_links-list-item_no-bullit {
    list-style: none;
}

.header_link {
    font-size: 18px;
    font-weight: normal;
    text-underline-offset: 3px;
}

.header_link_active {
    text-decoration: none;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3;
}

.header_address {
    max-width: 240px;
    justify-self: end;
    align-items: flex-start;
}



.address p {
    font-style: normal;
}

a {
    font-style: normal;
}

.address a {
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    min-height: 757px;
    margin-bottom: 180px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.upoverlay {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
}

.cover_title {
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    line-height: 115%;
    letter-spacing: 31px;
    text-transform: uppercase;
    padding: 165px 0 106px 0;

}

.accent_span {
    display: block;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
    padding-left: 30px;
}

.text_right {
    text-align: right;
    padding-right: 0;
    padding-left: 612px;
}

.text_center,
.text_right {
    padding-top: 20px;
}

.description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.description_text {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.bet-button {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 32px 11px 31px;
    background-color: transparent;
    border: 1px solid #fff;
}

.lots {
    box-sizing: border-box;
    width: 1052px;
    margin: 0 24px auto;
    margin-bottom: 120px;
    /* padding: 180px 24px 120px 24px; */
}

.lots_heading {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    padding: 0 891px 27px 40px;
}

.lots_card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 25px;
}

.lots_card-list-item {
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 596px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.card_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    padding: 48px 40px 0 40px;
    text-align: left;
    text-transform: uppercase;
}

.card_text {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    text-align: left;
}

.card-link {
    text-decoration: none;
}

.card-link_active {
    text-decoration: underline;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.more {
    font-size: 20px;
    font-family: normal;
    color: #000;
    display: block;
    line-height: 1.2;
    letter-spacing: 1.6px;
    padding-top: 30px;
    padding-left: 40px;
    text-underline-offset: 4px;
}

.about {
    box-sizing: border-box;
    width: 1052px;
    margin: 0 24px auto;
    margin-bottom: 170px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 14px;
}

.about_logo {
    padding: 35px 0 320px 47px;
}

.about_circle {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    display: grid;
    place-items: center;
}

.about_logo-image {
    max-width: 148px;
    max-height: 114px;

}

.about_column {
    box-sizing: border-box;
    padding: 133px 0 13px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.about_title {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-align: left;
    text-transform: uppercase;
    padding: 2px 0 0 0;
}

.about_text {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.footer {
    box-sizing: border-box;
    width: 1100px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_address {
    width: 265px;
    padding-top: 0;
    padding-left: 50px;
}
.footer_text {
    width: 260px;
    padding-top: 2px;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 164px;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
    padding-bottom: 65px;
    text-underline-offset: 4px;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_menu-list-item {
    list-style: none;
}

.footer_social-list {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding-right: 49px;
}

.footer_social-list-item {
    list-style: none;
}

.footer_social-icon {
    width: 48px;
    height: 48px;
}












